@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Theme */

  --background-primary: rgba(255, 255, 255, 1);
  --text: #000000;
  --accent: rgb(255, 111, 0);
  --input-border: rgb(209 213 219 / 0.5);
  --scrollbar-thumb: rgba(0, 0, 0, 0.4);
  --shadow-color: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 22, 23;
    --background-end-rgb: 21, 22, 23;

    /* Theme */

    --background-primary: #202124;
    --text: #ffffff;
    --accent: rgb(255, 111, 0);
    --input-border: rgba(129, 132, 136, 0.8);
    --scrollbar-thumb: rgba(255, 255, 255, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.8);
  }
}
body,
html,
#root {
  min-height: 100vh;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Scroll bar styles */
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

/* Tiptap Editor */

/* Placeholder (at the top) */
.tiptap p.is-editor-empty:first-child::before {
  color: var(--text);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 200;
}
